

		<section id="projfil" class="tblwrp">

{% for child_item in item_children %}
<section class="tblcon">
	<div class="colwrp w1280 fprojwrp">
{% for item in child_item %}

<div class="projfil {% if loop.index == 1 or loop.index == 4 or loop.index == 5 or loop.index == 8 %}collong{% else %}colshort{% endif %}{% if loop.index is even %} floatr{% endif %}">
	<div class="wrp">
		<section class="indswrp" data-name="{{ item.id }}" id="container-{{ item.id }}" style="background-image:url({{ imgTsUrl(item.featured_image.reference, 640) }});">
			<a href="{{ _url.base }}{% if item._url %}{{ item._url|trim('/') }}{% else %}directory/view/{{ item.id }}{% endif %}" title="view project details">
				<section class="indslink">
					<h4 class="heading">{{ item.name }}</h4>
					<span>{{ item.summary|raw|striptags }}</span>
				</section>
			</a>
		</section>
	</div><!-- /.wrp -->
</div><!-- /.collong -->

{% endfor %}
		<div class="emspace floatc"></div>
	</div><!-- /.colwrp -->
</section><!-- /.tblcon -->
{% endfor %}

		</section><!-- /#projfil -->


<!--{#
<h3 class="heading">Directories availaible</h3>
{% include 'directory/folder/search_filter.twig' %}

<div id="folder_container">
{% include 'directory/folder/search_result.twig' %}
</div>
#}-->

