
{% if item_list.rows or directory_data.rows %}

<div class="ui four doubling link cards">

{% for dcat in directory_data.rows %}

	<a class="card blue" href="{{ _url.base }}directory/folder/view/{{ dcat.id }}" title="view">
		<div class="image">
			<img src="/_image/media/1/_image.png" data-src="{% if dcat.featured_image_id %}{{ imgUrl(dcat.featured_image_id, 300) }}{% else %}/app/website/bluesky/img/_sui/image.png{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ dcat.name }}</div>
			<div class="meta">{{ dcat.title }}</div>
		</div>
		<div class="extra content">
			<i class="folder icon"></i>
			type
		</div>
	</a><!-- /.card -->

{% endfor %}
{% for ditm in item_list.rows %}

	<a class="card green" href="{{ _url.base }}directory/item/view/{{ ditm.id }}" title="view">
		<div class="image">
			<img src="/_image/media/1/_image.png" data-src="{% if ditm.featured_image_id %}{{ imgUrl(ditm.featured_image_id, 300) }}{% else %}/app/website/bluesky/img/_sui/image.png{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ ditm.name }}</div>
			<div class="meta">{{ ditm.title }}</div>
		</div>
		<div class="extra content">
			<i class="file alternate outline icon"></i>
			type
		</div>
	</a><!-- /.card -->

{% endfor %}

</div><!-- /ui.four.doubling.link.cards -->

{% else %}

<div class="ui negative message">
	<div class="header">Oops</div>
	<p>No records were found.</p>
</div>

{% endif %}

