
<div class="ui items">

	<div class="item">
		<div class="ui medium image">
			<img src="/_image/media/1/_image.png" data-src="{% if item.featured_image.reference %}{{ imgUrl(item.featured_image_file.reference, 350) }}{% else %}/app/website/bluesky/img/_sui/image.png{% endif %}" alt="" />
		</div>
		<div class="content">
			<div class="header">{{ item.name }}</div>
			<div class="meta"><span>{% if item.parent_name %}{{ item.parent_name }}{% else %}No parent folder{% endif %}</div>
			<div class="description">
				{% if item.summary %}{{ renderContent(item.summary)|raw }}{% else %}<p>No description available</p>{% endif %}
			</div><!-- /.description -->
			<div class="extra">
				<a class="ui labeled icon button" href="{% if item.parent_id %}{{ _url.base }}directory/folder/view/{{ item.parent_id }}{% else %}{% endif %}{{ _url.base }}directory" title=""><i class="{% if item.parent_id %}level up alternate{% else %}arrow left{% endif %} icon"></i>Back</a>
			</div><!-- /.extra -->
		</div><!-- /.content -->
	</div><!-- /.item -->

</div><!-- /.ui.divided.items -->

<div class="ui divider"></div>

{% include 'directory/folder/list.twig' with {'item':item} %}

