
<section id="csview">

{% if item.id == 1 %}{% set cb = getContent(7) %}
{% elseif item.id == 2 %}{% set cb = getContent(8) %}
{% elseif item.id == 3 %}{% set cb = getContent(9) %}
{% elseif item.id == 4 %}{% set cb = getContent(10) %}
{% elseif item.id == 5 %}{% set cb = getContent(11) %}
{% elseif item.id == 6 %}{% set cb = getContent(12) %}
{% elseif item.id == 7 %}{% set cb = getContent(13) %}
{% elseif item.id == 8 %}{% set cb = getContent(14) %}
{% elseif item.id == 9 %}{% set cb = getContent(15) %}
{% elseif item.id == 10 %}{% set cb = getContent(16) %}
{% elseif item.id == 11 %}{% set cb = getContent(17) %}
{% endif %}

<h2 class="ui header">{{ renderContent(cb.content) }}</h2>
<div class="ui hidden divider"></div>

	<div class="ui medium right floated image">
		<div class="ui card">
			<div class="image">
				<img src="{% if item.featured_image %}{{ imgUrl(item.featured_image.reference,300) }}{% else %}/_image/media/8/_logo.png{% endif %}">
			</div>
			<div class="content">
				<div class="header">{{ item.name }}</div>
				<div class="meta"><span class="date">Sector: {{ item.type }}</span></div>
				<div class="description">{{ item.company }}</div>
			</div><!-- /.content -->
{% if item.id != 4 and item.id != 8 and item.id != 11 and item.id != 12 %}
			<div class="extra content">
				<span><i class="calendar alternate outline icon"></i> Established {{ cb.title }}</span>
			</div><!-- /.extra.content -->
{% endif %}
		</div><!-- /.ui.card -->
	</div><!-- /.ui.medium.right.floated.image -->

{{ renderContent(item.description)|raw }}

	<div class="emspace h80 floatc"></div>
	<h4 class="ui horizontal divider header nomargin"><i class="briefcase icon"></i></h4>

	<div class="ui four doubling centered cards">

{% set list = getDirectoryCategoryData() %}
{% for ditm in list.items %}
{% if ditm.id != item.id %}

		<a class="card tiny" href="{% if ditm._url %}{{ ditm._url }}{% else %}directory/item/view/{{ ditm.id }}{% endif %}" title="Find out more about {{ ditm.name }}">
			<div class="image">
				<img src="{% if ditm.featured_image %}{{ imgUrl(ditm.featured_image.reference,300) }}{% else %}/_image/media/8/_logo.png{% endif %}">
			</div>
			<div class="content">
				<div class="header">{{ ditm.name }}</div>
				<div class="meta">{{ ditm._tag }}</div>
			</div>
		</a><!-- /.card -->

{% endif %}
{% endfor %}

	</div><!-- /.ui.five.doubling.centered.cards -->

</section><!-- /#csview -->

