
{% set staffsList = getAllStaff() %}
<div class="ui special stackable centered cards">

{% for boss in staffsList %}
{% if boss.is_active and (boss.id == 1 or boss.id == 2) %}

	<div class="card">
		<div class="blurring dimmable image">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<a class="ui inverted button" href="{% if boss._url %}{{ boss._url }}{% else %}/staff/view/{{ boss.id }}{% endif %}" title="">View Profile</a>
					</div>
				</div>
			</div>
			<img src="{% if boss.featured_image %}{{ imgTsUrl(boss.featured_image.reference, 300) }}{% else %}/app/website/bluesky/img/_sui/{% if boss.id == 1 %}joe.jpg{% else %}matthew.png{% endif %}{% endif %}">
		</div>
		<div class="content">
			<a class="header" href="{% if boss._url %}{{ boss._url }}{% else %}/staff/view/{{ boss.id }}{% endif %}" title="">{{ boss.name }}</a>
			<div class="meta">{{ boss.title }}</div>
		</div>
		<div class="extra content">
			<a href="https://www.linkedin.com/company/blueskylabs" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-linkedin"></i>
				LinkedIn
			</a>
		</div>
	</div><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /ui.special.centered.cards -->

<div class="emspace h30 floatc"></div>

<div class="ui special four stackable cards">

{% for staff in staffsList %}
{% if staff.is_active and staff.id > 2 %}

	<div class="card">
		<div class="blurring dimmable image">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
						<a class="ui inverted button" href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" title="">View Profile</a>
					</div>
				</div>
			</div>
			<img src="{% if staff.featured_image %}{{ imgTsUrl(staff.featured_image.reference, 300) }}{% else %}/app/website/bluesky/img/_sui/image.png{% endif %}">
		</div>
		<div class="content">
			<a class="header" href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" title="">{{ staff.name }}</a>
			<div class="meta">{{ staff.title }}</div>
		</div>
		<div class="extra content">
			<a href="https://www.linkedin.com/company/blueskylabs" target="_blank" rel="noopener noreferrer">
				<i class="fab fa-linkedin"></i>
				LinkedIn
			</a>
		</div>
	</div><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /ui.special.centered.cards -->

