
{% set staffsList = getAllStaff() %}
<div class="ui stackable centered cards">

{% for boss in staffsList %}
{% if boss.is_active and (boss.id == 1 or boss.id == 2) %}

	<a class="card" href="{% if boss._url %}{{ boss._url }}{% else %}/staff/view/{{ boss.id }}{% endif %}" title="View {{ boss.name }}'s profile">
		<div class="image">
			<img src="{% if boss.featured_image %}{{ imgTsUrl(boss.featured_image.reference, 300) }}{% else %}/app/website/bluesky/img/_sui/{% if boss.id == 1 %}joe.jpg{% else %}eve.png{% endif %}{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ boss.name }}</div>
			<div class="meta">{{ boss.title }}</div>
			<div class="description">{{ boss.summary|truncate(116,true,' ..') }}</div>
		</div>
		<div class="extra content">
			<span>
				<i class="fas fa-mobile-alt"></i>
				{% if boss.phone %}{{ boss.phone }}{% else %}Nokia forever{% endif %}
			</span>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /ui.special.centered.cards -->

<div class="emspace h30 floatc"></div>

<div class="ui four stackable cards">

{% for staff in staffsList %}
{% if staff.is_active and staff.id > 2 %}

	<a class="card" href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" title="View {{ staff.name }}'s profile">
		<div class="image">
			<img src="{% if staff.featured_image %}{{ imgTsUrl(staff.featured_image.reference, 300) }}{% else %}/app/website/bluesky/img/_sui/{% if staff.id == 1 %}joe.jpg{% elseif staff.id == 2 %}eve.png{% elseif staff.id == 3 %}chris.jpg{% elseif staff.id == 4 %}matthew.png{% elseif staff.id == 5 %}steve.jpg{% elseif staff.id == 6 %}christian{% else %}image.png{% endif %}{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ staff.name }}</div>
			<div class="meta">{{ staff.title }}</div>
		</div>
		<div class="extra content">
			<span>
				<i class="fas fa-mobile-alt"></i>
				{% if boss.phone %}{{ boss.phone }}{% else %}Nokia forever{% endif %}
			</span>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /ui.special.centered.cards -->

