
{% set staffsList = getAllStaff() %}

<div class="ui stackable equal height stackable center aligned grid">
	<div class="three column row">

{% for boss in staffsList %}
{% if boss.is_active and (boss.id == 1 or boss.id == 2) %}

		<div class="column">
			<a href="{% if boss._url %}{{ boss._url }}{% else %}/staff/view/{{ boss.id }}{% endif %}" title="">
				<p>{% if boss.featured_image %}<img src="{{ imgTsUrl(boss.featured_image.reference, 300) }}" class="resp" alt="{{ boss.name }}" />{% else %}<i class="fas fa-user-alt fa-3x"></i>{% endif %}</p>
				<div class="ui medium header">
					{{ boss.name }}
					<small class="small60">{{ boss.title }}</small>
				</div>
			</a>
			<div class="emspace"></div>
			<p><a href="{% if boss._url %}{{ boss._url }}{% else %}/staff/view/{{ boss.id }}{% endif %}" class="ui right labeled icon button primary">View profile <i class="right arrow icon"></i></a></p>
		</div><!-- /.column -->

{% endif %}
{% endfor %}

	</div><!-- /.three.column.row -->
</div><!-- /.ui.stackable.inverted.divided.equal.height.stackable.center.aligned.grid -->

<div class="emspace h60 floatc"></div>

<div class="ui stackable equal height stackable center aligned grid">

{% for staff in staffsList %}
{% if staff.is_active and staff.id > 2 %}

		<div class="four wide column">
			<a href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" title="">
				<p>{% if staff.featured_image %}<img src="{{ imgTsUrl(staff.featured_image.reference, 300) }}" class="resp" alt="{{ staff.name }}" />{% else %}<i class="fas fa-user-alt fa-3x"></i>{% endif %}</p>
				<div class="ui small header">
					{{ staff.name }}
					<small class="small60">{{ staff.title }}</small>
				</div>
			</a>
			<div class="emspace"></div>
			<p><a href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" class="ui right labeled icon button">View profile <i class="right arrow icon"></i></a></p>
		</div><!-- /.column -->

{% endif %}
{% endfor %}

</div><!-- /.ui.stackable.equal.height.stackable.center.aligned.grid -->

