
<section id="stlist">

<h2 class="ui header">BlueSky Directors</h2>
<p>Directors Amel Holic and Rizal Farok foster a strong team ethos at BlueSky. They are committed to nurturing the future generation of developers in a challenging and creative environment.</p>
<div class="ui hidden divider"></div>

{% set staffsList = getAllStaff() %}
<div class="ui two doubling centered link cards">

{% for boss in staffsList %}
{% if boss.is_active and (boss.id == 1 or boss.id == 2) %}

	<a class="card" href="{% if boss._url %}{{ boss._url }}{% else %}/staff/view/{{ boss.id }}{% endif %}" title="View {{ boss.name }}'s profile">
		<div class="image">
			<img src="{% if boss.featured_image %}{{ imgTsUrl(boss.featured_image.reference, 300) }}{% else %}/app/website/bluesky/img/_sui/{% if boss.id == 1 %}joe.jpg{% else %}eve.png{% endif %}{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ boss.name }}</div>
			<div class="meta">{{ boss.title }}</div>
			<div class="description">{{ boss.summary|truncate(116,true,' ..') }}</div>
		</div>
		<div class="extra content">
			<span>
				<i class="mobile alternate icon"></i>
				{% if boss.phone %}{{ boss.phone }}{% else %}Nokia forever{% endif %}
			</span>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /ui.stackable.centered.link.cards -->
<div class="ui hidden divider"></div>

<h3 class="ui header">The Leadership Team</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc id lorem dignissim, hendrerit nisl vitae, scelerisque nisl. Curabitur sollicitudin nibh leo, id auctor est sodales non. Donec quis nisi varius, aliquet massa vel, vulputate diam.</p>

<div class="ui four doubling centered link cards">

{% for staff in staffsList %}
{% if staff.is_active and staff.id > 2 %}

	<a class="card" href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" title="View {{ staff.name }}'s profile">
		<div class="image">
			<img src="{% if staff.featured_image %}{{ imgTsUrl(staff.featured_image.reference, 300) }}{% else %}/app/website/bluesky/img/_sui/{% if staff.id == 1 %}joe.jpg{% elseif staff.id == 2 %}eve.png{% elseif staff.id == 3 %}chris.jpg{% elseif staff.id == 4 %}matthew.png{% elseif staff.id == 5 %}christian.jpg{% elseif staff.id == 6 %}steve.jpg{% else %}image.png{% endif %}{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ staff.name }}</div>
			<div class="meta">{{ staff.title }}</div>
		</div>
		<div class="extra content">
			<span>
				<i class="mobile alternate icon"></i>
				{% if boss.phone %}{{ boss.phone }}{% else %}Nokia forever{% endif %}
			</span>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /ui.four.stackable.link.cards -->
<div class="ui hidden divider"></div>

</section><!-- /#stlist -->

<div class="emspace h30 floatc"></div>

<div class="ui icon message">
	<i class="users icon"></i>
	<div class="content">

<div class="header">Careers</div>
<p>If our team philosophy excites you and you want to work in a challenging yet nurturing environment where you'll feel stretched, then our door is always open for a conversation. Although, we are not actively hiring at the moment, we're always interested to hear from talented and driven developers.</p>

	</div><!-- /.content -->
</div><!-- /.ui.icon.message -->

