
<section id="stview">

<div class="ui stackable grid">
	<div class="five wide column">

		<div class="ui special centered card">
			<div class="blurring dimmable image">
				<div class="ui dimmer"><div class="content"><div class="center"><span class="ui inverted button dopop">View image</span></div></div></div>
				<img src="{% if item.featured_image %}{{ imgUrl(item.featured_image.reference) }}{% else %}/_image/media/1/_image.png{% endif %}">
			</div><!-- /.blurring.dimmable.image -->
			<div class="content">
				<div class="header">{{ item.name }}</div>
				<div class="meta">{{ item.title }}</div>
			</div><!-- /.content -->
{% if item.social %}
			<div class="extra content">
				<a href="{{ item.social }}" target="_blank" rel="noopener noreferrer"><i class="linkedin icon"></i> Connect with {{ item.name|split(' ')|slice(0,1)|join }} on LinkedIn</a>
			</div><!-- /.extra.content -->
{% endif %}
		</div><!-- /.card -->

{# if item.featured_image #}
		<div class="ui basic modal dapop">
			<i class="close icon"></i>
			<div class="content">
				<div class="center">
					<div class="ui image">
						<img src="{% if item.featured_image %}{{ imgUrl(item.featured_image.reference) }}{% else %}/_image/media/1/_image.png{% endif %}" class="resp" alt="Rizal Farok" />
					</div><!-- /.ui.image -->
				</div><!-- /.center -->
			</div><!-- /.content -->
		</div><!-- /.ui.basic.modal -->
{# endif #}

	</div><!-- /.column -->
	<div class="eleven wide column">

<h2 class="ui header">
	<img class="ui big circular image dopop" src="{% if item.featured_image %}{{ imgUrl(item.featured_image.reference) }}{% else %}/_image/media/1/_image.png{% endif %}">
	<div class="content">
		{{ item.name }}
		<div class="sub header">{{ item.title }}</div>
	</div><!-- /.content -->
</h2>
<div class="ui divider afterheader floatc"></div>

{{ renderContent(item.description)|raw }}

	</div><!-- /.column -->
</div><!-- /.ui.grid -->

<div class="emspace h80 floatc"></div>
<h4 class="ui horizontal divider header nomargin"><i class="users icon"></i></h4>

<div class="ui five doubling centered cards">

{% set staffsList = getAllStaff() %}
{% for staff in staffsList %}
{% if staff.is_active and staff.id != item.id %}

	<a class="card tiny" href="{% if staff._url %}{{ staff._url }}{% else %}/staff/view/{{ staff.id }}{% endif %}" title="View {{ staff.name }}'s profile">
		<div class="image">
			<img src="{% if staff.featured_image %}{{ imgUrl(staff.featured_image.reference) }}{% else %}/_image/media/1/_image.png{% endif %}">
		</div>
		<div class="content">
			<div class="header">{{ staff.name }}</div>
			<div class="meta">{{ staff.title }}</div>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /.ui.five.doubling.centered.cards -->

<!--{#
<p><img src="{{ imgUrl(item.featured_image_secondary.reference, 564) }}" class="resp" alt="{{ item.name }}" /></p>
#}-->


<div class="emspace h80 floatc"></div>
<h4 class="ui horizontal divider header nomargin"><i class="file alternate icon"></i></h4>
<section id="subnav">
<div class="ui four doubling centered cards">
{% set subnav = buildNav(1, 4) %}
{% for i in subnav %}
{% if i.is_navigation %}
	<a class="card tiny" href="{{ i._url }}" title="{{ i.title }}">
		<div class="content">
			<img class="left floated mini ui image" src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference, 60) }}{% else %}/_image/media/1/_image.png{% endif %}">
			<div class="header spnav">{{ i.title }}</div>
			<div class="description">{% if i.summary %}{{ i.summary|striptags|truncate(54,true,' ..') }}{% else %}{{ i.description|raw|striptags|truncate(54,true,' ..') }}{% endif %}</div>
		</div>
	</a><!-- /.card -->
{% endif %}
{% endfor %}
</div><!-- /.ui.five.doubling.centered.cards -->
</section><!-- /#subnav -->

</section><!-- /#stview -->

