
{% if _route._handler._app == "page" and item.description %}
<div class="{% if item.parent_id == 2 %}ui piled segment large center{% else %}content{% endif %}">
{{ renderContent(item.description)|raw }}
</div>
{% endif %}
{{ _content_|raw }}

{% if _route._handler._app == "page" %}

{% if item.id == 3 %}
{% include 'body_sub-casestudies.twig' %}
{% elseif item.id == 5 %}
{% include 'body_sub-thoughts.twig' %}

{% elseif item.id == 6 %}
{% include 'body_sub-contact.twig' %}

{% elseif item.id == 16 %}
{% include 'staff/list.twig' %}
{% endif %}

{% if item.parent_id != 0 %}
{% set subnav = buildNav(item.layout_id, item.parent_id) %}
{% else %}
{% set subnav = buildNav(item.layout_id, item.id) %}
{% endif %}

{% if item.id != 2 %}
{% if subnav %}
<div class="emspace h40 floatc"></div>
<div class="ui center aligned">
<nav id="pnav" class="ui tiny stackable compact menu">
{% endif %}
{% for i in subnav %}
{% if i.is_navigation %}
<a class="item" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endfor %}
{% if subnav %}
</nav><!-- /#pnav -->
</div>
<div class="emspace h40 floatc"></div>
{% endif %}
{% endif %}

{% endif %}

