
{% if _route._handler._app == "page" %}

{% if item.summary %}
{% if item.parent_id == 2 %}<div class="ui piled segment large center">{% endif %}
<p>{{ item.summary|raw }}</p>
{% if item.parent_id == 2 %}</div>{% endif %}
{% endif %}

{% if item.description %}
{{ renderContent(item.description)|raw }}
{% endif %}

{% endif %}
{{ _content_|raw }}

{% if _route._handler._app == "page" %}

{% if item.id == 3 %}
{% include 'body_sub-casestudies.twig' %}
{% elseif item.id == 5 %}
{% include 'body_sub-thoughts.twig' %}

{% elseif item.id == 6 %}
{% include 'body_sub-contact.twig' %}

{% elseif item.id == 16 %}
{% include 'staff/list.twig' %}
{% endif %}

{% if item.parent_id != 0 %}
{% set subnav = buildNav(item.layout_id, item.parent_id) %}
{% else %}
{% set subnav = buildNav(item.layout_id, item.id) %}
{% endif %}

{% if item.id != 2 %}
{% if subnav %}
<div class="emspace h80 floatc"></div>
<h4 class="ui horizontal divider header nomargin"><i class="file alternate icon"></i></h4>
<div class="ui four doubling centered cards">
{% endif %}
{% for i in subnav %}
{% if i.is_navigation %}
{% if i.id != item.id %}
	<a class="card tiny" href="{{ i._url }}" title="{{ i.title }}">
		<div class="content">
			<img class="left floated mini ui image" src="{% if i.featured_image %}{{ imgTsUrl(i.featured_image.reference, 60) }}{% else %}/app/website/bluesky/img/_sui/image.png{% endif %}">
			<div class="header spnav">{{ i.title }}</div>
			<div class="description">{% if i.summary %}{{ i.summary|striptags|truncate(54,true,' ..') }}{% else %}{{ i.description|raw|striptags|truncate(54,true,' ..') }}{% endif %}</div>
		</div>
	</a><!-- /.card -->
{% endif %}
{% endif %}
{% endfor %}
{% if subnav %}
</div><!-- /.ui.five.doubling.centered.cards -->
{% endif %}
{% endif %}

{% endif %}

