
<div class="ui relaxed divided items">

{% set postList = getLatestBlogItem(14) %}
{% if postList %}
{% for i in postList %}

	<div class="item">
		<div class="ui small image">
			<img src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference,300) }}{% else %}/_image/media/1/_image.png{% endif %}" alt="" />
		</div>
		<div class="content">
			<div class="header">{{ i.title }}</div>
			<div class="meta"><span><i class="calendar alternate outline icon"></i><time pubdate datetime="{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}">{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}</time></span></div>
			<div class="description">
				<p>
				{% if i.summary %}
				{{ i.summary|nl2br|truncate(540,true,' ..')|raw }}
				{% else %}
				{{ i.content|raw|striptags|truncate(540,true,' ..') }}
				{% endif %}
				</p>
			</div><!-- /.description -->
			<div class="extra">
				{% for tag in i._tags %}
				<a class="ui tag label mini" href="{{ _url.base }}blog/category/{{ tag|replace({' ':'-','/':'-'}) }}">{{ tag }}</a>
				{% if loop.last %}<div class="emspace h5 floatc"></div>{% endif %}
				{% endfor %}
				<a class="ui right floated primary button" href="{% if i._url %}{{ i._url }}{% else %}blog/post/{{ i.id }}{% endif %}" title="click to read full article">Read article<i class="right chevron icon"></i></a>
			</div><!-- /.extra -->
		</div><!-- /.content -->
	</div><!-- /.item -->

{% endfor %}
{% endif %}

</div><!-- /.ui.relaxed.divided.items -->

