
{% if _route._handler._app == "page" and item.id == 17 %}
{% include 'body_con-testimonials.twig' %}
{% else %}
{% if _route._handler._app == "page" %}
{% if item.description %}
{{ renderContent(item.description)|raw }}
{% endif %}
{% endif %}
{{ _content_|raw }}
{% endif %}

{% if _route._handler._app == "page" %}

{% if item.id == 2 %}
{% include 'body_sub-services.twig' %}
{% elseif item.id == 3 %}
{% include 'body_sub-work.twig' %}
{% elseif item.id == 5 %}
{% include 'body_sub-thoughts.twig' %}
{% elseif item.id == 6 %}
{% include 'body_sub-contact.twig' %}

{% elseif item.id == 14 %}
{% include 'body_sub-timeline.twig' %}

{% elseif item.id == 16 %}
{% include 'staff/list.twig' %}
{% elseif item.id == 23 %}
{% include 'sitemap.twig' %}
{% endif %}

{% if item.parent_id != 0 %}
{% set subnav = buildNav(item.layout_id, item.parent_id) %}
{% else %}
{% set subnav = buildNav(item.layout_id, item.id) %}
{% endif %}

{% if item.id == 4 %}

<div class="ui four doubling centered cards noborder">

{% for i in subnav %}
{% if i.is_navigation %}

	<a class="card" href="{{ i._url }}" title="{{ i.title }}">
		<div class="image">
			<img src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference,300) }}{% else %}/_image/media/1/_image.png{% endif %}" alt="{{ i.title }} | BlueSky Perth">
		</div>
		<div class="content">
			<div class="header">{{ i.title }}</div>
			<div class="description">{{ i.summary|striptags|truncate(60,true,' ..') }}</div>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endfor %}

</div><!-- /.ui.four.doubling.centered.cards -->

{% else %}

{% if item.id != 2 and item.id != 3 and item.id != 17 and item.id != 6 and item.id != 25 %}
{% if subnav %}
<div class="emspace h80 floatc"></div>
<h4 class="ui horizontal divider header nomargin"><i class="file alternate icon"></i></h4>
<section id="subnav">
<div class="ui four doubling centered cards{% if item.parent_id == 2 %} noborder{% endif %}">
{% endif %}
{% for i in subnav %}
{% if i.is_navigation %}
{% if i.id != item.id %}
	<a class="card tiny" href="{{ i._url }}" title="{{ i.title }}">

{% if item.parent_id == 2 %}
		<div class="image">
			<img src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference,300) }}{% else %}{{ img }}iso/{% if i.id == 7 %}hero-sub_startup.png{% elseif i.id == 8 %}hero-sub_system.png{% elseif i.id == 9 %}hero-sub_app.png{% elseif i.id == 10 %}hero-sub_data.png{% elseif i.id == 11 %}hero-sub_custom.png{% elseif i.id == 12 %}hero-sub_ideas.png{% elseif i.id == 13 %}hero-sub_digital.png{% elseif i.id == 21 %}hero-sub_beacons.png{% else %}hero.svg{% endif %}{% endif %}" alt="{{ i.title }} | BlueSky Perth">
		</div>
		<div class="content">
			<div class="header">{{ i.title }}</div>
			<div class="description">{{ i.summary|striptags|truncate(60,true,' ..') }}</div>
		</div>
{% else %}
		<div class="content">
			<img class="left floated mini ui image" src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference,60) }}{% else %}/_image/media/1/_image.png{% endif %}" alt="{{ i.title }} | BlueSky Perth ">
			<div class="header spnav">{{ i.title }}</div>
			<div class="description">{% if i.summary %}{{ i.summary|striptags|truncate(60,true,' ..') }}{% else %}{{ i.description|raw|striptags|truncate(60,true,' ..') }}{% endif %}</div>
		</div>
{% endif %}

	</a><!-- /.card -->
{% endif %}
{% endif %}
{% endfor %}
{% if subnav %}
</div><!-- /.ui.four.doubling.centered.cards -->
</section><!-- /#subnav -->
{% endif %}
{% endif %}

{% endif %}

{% endif %}

