
{{ renderContent(item.description)|raw }}
<div class="ui divider hidden"></div>
<p class="center"><a class="ui positive button large" href="/contact" onclick="gtag('event','CTA Discuss',{'event_category':'Homepage','event_label':'Button'});" title="discuss yoxt project">Discuss your next project <i class="right chevron icon"></i></a></p>

<div class="emspace h80 floatc"></div>

{% set cb = getContent(2) %}
<h3 class="fontsize28 center">{{ cb.title }}</h3>
{{ renderContent(cb.content)|raw }}
{% include 'body_sub-services.twig' %}
<div class="ui divider hidden"></div>
<p class="center"><a class="ui primary button large" href="/contact" onclick="gtag('event','CTA Quote',{'event_category':'Homepage','event_label':'Button'});" title="Contacct us to request a quote">Contact us to request a quote <i class="right chevron icon"></i></a></p>

<div class="emspace h80 floatc"></div>

{% set cb = getContent(3) %}
<h3 class="fontsize28 center">{{ cb.title }}</h3>
{{ renderContent(cb.content)|raw }}
{{ renderContent(cb.description)|raw }}
<div class="ui divider hidden"></div>
<p class="center"><a class="ui positive button large" href="/work" onclick="gtag('event','CTA Work',{'event_category':'Homepage','event_label':'Button'});" title="Read about some of our work">Read about some of our work <i class="right chevron icon"></i></a></p>

<div class="emspace h80 floatc"></div>

{% set cb = getContent(4) %}
<h3 class="fontsize28 center">{{ cb.title }}</h3>
{{ renderContent(cb.content)|raw }}
{{ renderContent(cb.description)|raw }}
<div class="ui divider hidden"></div>
<p class="center"><a class="ui orange button large" href="/about" onclick="gtag('event','CTA About',{'event_category':'Homepage','event_label':'Button'});" title="Learn more about BlueSky Perth">Learn more about BlueSky <i class="right chevron icon"></i></a></p>

