
<div class="emspace h20 floatc"></div>

<div class="ui form">
	<div class="ui field">
		<label>Filter case studies by:</label>

<select id="casefil" name="casefil" class="casestudies ui dropdown selection">
<option value="All">All</option>
<option value="Start-up Development">Start-up Development</option>
<option value="System Integration">System Integration</option>
<option value="App Development">App Development</option>
<option value="Data Science">Data Science</option>
<option value="Custom Web Development">Custom Web Development</option>
<option value="Exploring Ideas">Exploring Ideas</option>

</select>

	</div>
</div>
<div class="emspace h20 floatc"></div>



<div id="casecon" class="ui four doubling link cards notransform">

{% set list = getDirectoryCategoryData() %}
{% for ditm in list.items %}

	<a class="card f_{{ ditm._tag|replace({' ':''})|lower }}" href="{% if ditm._url %}{{ ditm._url }}{% else %}directory/item/view/{{ ditm.id }}{% endif %}" title="Find out more about {{ ditm.name }}">
		<div class="image">
			<img class="resp" src="/_image/media/1/_image.png" data-src="{% if ditm.featured_image %}{{ imgUrl(ditm.featured_image.reference,300) }}{% else %}/_image/media/8/_logo.png{% endif %}" alt="{{ ditm.name }} | {{ ditm._tag }} | BlueSky Perth">
		</div>
		<div class="content">
			<div class="header">{{ ditm.name }}</div>
			<div class="meta">{{ ditm._tag }}</div>
			<div class="description">{{ ditm.title }}</div>
		</div>
	</a><!-- /.card -->

{% endfor %}

</div><!-- /ui.four.stackable.link.cards -->

