
{% if not item.is_home_page %}
{% set cb = getContent(5) %}
{{ renderContent(cb.content)|raw }}
{% endif %}

<div class="emspace h20 floatc"></div>

<div class="ui four doubling centered link cards noborder notransform">

{% set subnav = buildNav(1, 2) %}
{% for i in subnav %}
{% if i.is_navigation %}
{% if i.id != item.id %}

	<a class="card" href="{{ i._url }}" title="{{ i.title }}">
		<div class="image">
			<img class="serv resp" src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference) }}{% else %}/app/website/bluesky/img/iso/hero.svg{% endif %}" alt="{{ i.title }} | BlueSky Perth">
		</div>
		<div class="content">
			<div class="header">{{ i.title }}</div>
			<div class="description">{{ i.summary|striptags }}</div>
		</div>
	</a><!-- /.card -->

{% endif %}
{% endif %}
{% endfor %}

</div><!-- /.ui.four.doubling.centered.cards -->

<div class="emspace h20 floatc"></div>

{% if not item.is_home_page %}
{% set cb = getContent(6) %}
{{ renderContent(cb.content)|raw }}
<div class="ui divider hidden"></div>
<p><a class="ui primary button" href="/contact" title="">Schedule a meeting <i class="right chevron icon"></i></a></p>
{% endif %}

