
<div class="ui relaxed divided items">

{% set postList = getLatestBlogItem(9) %}
{% if postList %}
{% for i in postList %}

	<div class="item">
		<div class="ui small image">
			<img src="{% if i.featured_image %}{{ imgTsUrl(i.featured_image.reference, 350) }}{% else %}{{ img }}_sui/image.png{% endif %}" alt="" />
		</div>
		<div class="content">
			<div class="header">{{ i.title }}</div>
			<div class="meta"><span><i class="calendar alternate outline icon"></i><time pubdate datetime="{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}">{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}</time></span></div>
			<div class="description">
				{% if i.summary %}
				<p>{{ i.summary|nl2br|truncate(540,true,' ..')|raw }}</p>
				{% else %}
				{{ i.content|raw|striptags|truncate(540,true,' ..') }}
				{% endif %}
			</div><!-- /.description -->
			<div class="extra">
				{% for tag in i._tags %}
				<a class="ui tag label mini" href="{{ _url.base }}blog/category/{{ tag|replace({' ':'-','/':'-'}) }}"><i class="tag icon"></i>{{ tag }}</a>
				{% if loop.last %}<div class="emspace h5 floatc"></div>{% endif %}
				{% endfor %}
				<a class="ui right floated primary button" href="{{ _url.base|trim('/') }}{% if i._url %}{{ i._url }}{% else %}blog/post/{{ i.id }}{% endif %}" title="click to read full article">Read article<i class="right chevron icon"></i></a>
			</div><!-- /.extra -->
		</div><!-- /.content -->
	</div><!-- /.item -->

{% endfor %}
{% endif %}

</div><!-- /.ui.divided.items -->

