
{% if custom_crumb_file %}
{% include custom_crumb_file~'.twig' %}

{% else %}
<a class="section" href="{{ _url.base }}">Home</a>

{% if _route._handler._app == "blog" and (_route._method == "view" or _route._method == "getPostByTag") %}
<i class="right chevron icon divider"></i>
<a class="section" href="{{ _url.base }}thoughts">Thoughts</a>
{% if _route._method == "getPostByTag" %}
<i class="right chevron icon divider"></i>
<div class="active section">{{ _route.tag }}</div>
{% endif %}
<i class="right chevron icon divider"></i>
<div class="active section">{{ item.name }}</div>
{% endif %}

{% if _route._handler._app == "directory" %}
<i class="right chevron icon divider"></i>
<a class="section" href="{{ _url.base }}work">Work</a>
<i class="right chevron icon divider"></i>
<div class="active section">{{ item.name }}</div>

{% else %}

{% set handler = _route._handler %}
{% set systemData = getAppData(handler.app) %}

	{% if _route._method == 'listByPrefix' %}
		{% if _route.settingPrefix == 'edm' %}
			{% set breadcrumb = ['Communication Settings'] %}
		{% elseif _route.settingPrefix == 'system' %}
			{% set breadcrumb = ['Site Settings'] %}
		{% endif %}
	{% endif %}

	{% if breadcrumb %}

		{% if extra_href_args %}
			{% set href_args_str = '?' %}
			{% for key,value in extra_href_args %}
				{% set href_args_str = href_args_str~'&'~key~'='~value %}
			{% endfor %}
		{% endif %}

		<i class="right chevron icon divider"></i>

		{% for key,value in breadcrumb %}
			{% if loop.last %}
				<div class="active section">{{ value }}</div>
			{% else %}
				{% if key == "javascript:;" %}
				<span class="section">{{ value }}</span>
				{% else %}
				<a class="section" href="{{ _url.base }}{{ key }}{{ href_args_str }}">{{ value }}</a>
				{% endif %}
				<i class="right chevron icon divider"></i>
			{% endif %}
		{% endfor %}

	{% endif %}

{% endif %}

{% endif %}

