
		<section id="hed">
			<div class="ui vertical masthead center aligned segment">
				<div class="ui container nav">
					<nav id="mnav" class="ui medium secondary pointing inverted menu">
						<a class="header icon item logo" href="/" title="BlueSky Digital Labs home"><i class="home icon nomarginright"></i></a>
						<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.id != 1 %}
{% if i.is_navigation %}
<a class="item{% if (_route._handler._app == "page" and (item.parent_id == i.id)) or (_route._handler._app == "directory" and i.id == 3) or (_route._handler._app == "staff" and i.id == 4) or (_route._handler._app == "blog" and i.id == 5) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endif %}
{% endfor %}
<a class="toc item"><i class="sidebar icon"></i></a>

						</div><!-- /.right.menu -->
					</nav><!-- /#mnav -->
				</div><!-- /.ui.container -->
				<div class="ui container vmiddle">

{% if _url.path != "/?bluesky1" and _url.path != "/?bluesky2" %}
<h1 class="ui header">
	<img class="ui image {% if item.is_home_page %}big{% else %}small{% endif %}" src="{{ img }}BlueSky_.png" alt="BlueSky" />
	<div class="sub header">
{% if item.is_home_page %}
innovating customised online solutions
{% else %}
{% if _route._handler.module == "staff" %}Our Team
{% elseif _route._handler.module == "blog" %}Thoughts
{% else %}
{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}
{% endif %}
{% endif %}
	</div>
</h1>
{% endif %}

				</div><!-- /.ui.container -->
			</div><!-- /.masthead.segment -->
		</section><!-- /#hed -->

