
		<section id="hed">
			<div class="ui vertical masthead center aligned segment">
				<div class="ui container nav">
					<nav id="mnav" class="ui medium secondary pointing menu">
						<a class="header item{% if not item.is_home_page %} logo{% endif %}" href="/" title="BlueSky Digital Labs home">{% if item.is_home_page %}<i class="home icon nomarginright"></i>{% else %}<img src="{{ img }}BlueSky.png" alt="BlueSky Digital Labs" />{% endif %}</a>
						<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.id != 1 %}
{% if i.is_navigation %}
<a class="item{% if (_route._handler._app == "page" and (item.parent_id == i.id)) or (_route._handler._app == "directory" and i.id == 3) or (_route._handler._app == "staff" and i.id == 4) or (_route._handler._app == "blog" and i.id == 5) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endif %}
{% endfor %}
<a class="toc item"><i class="sidebar icon"></i></a>

						</div><!-- /.right.menu -->
					</nav><!-- /#mnav -->
				</div><!-- /.ui.container -->

{% if item.is_home_page %}

				<h1 class="ui header">
					<img class="ui image medium" src="{{ img }}BlueSky.png" alt="BlueSky" />
					<div class="sub header">customised online solutions</div>
				</h1>
				<img class="ui image homhero" src="{{ img }}tmp/hero.jpg" alt="" />

{% elseif (_route._handler._app == "page" and (item.id == 5 or item.id == 6)) or  _route._handler.module == "staff" or _route._handler.module == "blog" %}

				<section class="vmiddle">
					<h1 class="ui header">

{% if _route._handler.module == "staff" %}Our Team
{% elseif _route._handler.module == "blog" %}Thoughts
{% else %}
{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}
{% endif %}

					</h1>
				</section>

{% else %}

				<div class="ui container">
					<div class="emspace h40"></div>
					<div class="ui stackable grid">
						<div class="seven wide column">

<section class="vmiddle">
<h1 class="ui header">
{% if _route._handler.module == "staff" %}Our Team
{% elseif _route._handler.module == "blog" %}Thoughts
{% elseif _route._handler._app == "directory" and _route._method == "itemView" %}{{ item.title }}
{% else %}
{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}
{% endif %}
</h1>
{% if _route._handler._app == "page" or (_route._handler._app == "directory" and _route._method == "itemView") %}
<p>{{ item.summary|raw }}</p>
{% endif %}
{% if _route._handler._app == "directory" and _route._method == "itemView" %}
<span class="ui tag label mini">{{ item._tags[0].display_value }}</span>
{% endif %}
</section><!-- /.vmiddle -->

						</div><!-- /.column -->
						<div class="one wide column">&nbsp;</div>
						<div class="eight wide column subhero">

{% if item.featured_image %}
{{ imgTsUrl(item.featured_image.reference, 640) }}
{% else %}
{% if (_route._handler._app == "page" and item.id == 7) or (_route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "start-up development") %}
<img class="ui image" src="{{ img }}tmp/hero-sub_startup.jpg" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 8) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "system integration" ) %}
<img class="ui image" src="{{ img }}tmp/hero-sub_system.jpg" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 9) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "app development" ) %}
<img class="ui image" src="{{ img }}tmp/hero-sub_app.jpg" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 10) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "data science" ) %}
<img class="ui image" src="{{ img }}tmp/hero-sub_data.jpg" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 11) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "custom web applications" ) %}
<img class="ui image" src="{{ img }}tmp/hero-sub_custom.jpg" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 12) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "exploring ideas" ) %}
<img class="ui image" src="{{ img }}tmp/hero-sub_ideas.jpg" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 13) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "start-up development" ) %}
<img class="ui image" src="{{ img }}tmp/hero-sub_digital.jpg" alt="" />
{% else %}
<img class="ui image" src="{{ img }}tmp/hero.jpg" alt="" />
{% endif %}
{% endif %}

						</div><!-- /.column.subhero -->
					</div><!-- /.ui.stackable.grid -->
				</div><!-- /.ui.container -->

{% endif %}

			</div><!-- /.masthead.segment -->
		</section><!-- /#hed -->

