
	<header id="hed">
		<div class="ui page grid">

			<!--div id="logo">
				<a href="/" title="">
					<img src="{{ img }}bluesky-marketing.png" alt="bluesky digital labs" />
				</a>
			</div--><!-- /#logo -->

			<nav id="mnav" class="computer tablet only row">
				<div class="ui pointing stackable menu">
					<a class="item" href="/">Home</a>
					<a class="item" href="/what-we-do" title="">What we do</a>
					<a class="item" href="/what-weve-done" title="">What we've done</a>
					<a class="item" href="/who-we-are" title="">Who we are</a>
					<a class="item" href="/blog" title="">Blog</a>
					<a class="item" href="/contact" title="">Contact</a>
				</div>
			</nav>




<!--{#
{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
{% if i._children %}
<li><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id %} class="active"{% endif %}>{{ i.title }}<i class="fas fa-angle-down"></i></a>
<ul>
{% for c in i._children %}
{% if c.is_navigation %}
<li><a href="{{ c._url }}" title="{{ c.title }}">{{ c.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
{% else %}
<li{% if loop.last %} class="last"{% endif %}><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id or (i.id == 6 and _route._handler._app == "blog") %} class="active"{% endif %}>{{ i.title }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
#}-->


<!--{#
			<nav id="mnav" class="computer tablet only row">
				<div class="ui pointing stackable menu">
					<a class="item" href="/">Home</a>
					<div class="ui dropdown item">
						What we do
						<i class="dropdown icon"></i>
						<div class="menu ui transition hidden">
							<a class="item" href="/startup" title="">Startup Development</a>
							<a class="item" href="/system" title="">System Development</a>
							<a class="item" href="/app" title="">App Developments</a>
							<a class="item" href="/data-science" title="">Data Science</a>
							<a class="item" href="/custom" title="">Custom Web Development</a>
							<a class="item" href="/ideas" title="">Exploring Ideas</a>
							<a class="item" href="/marketing" title="">Digital Marketing</a>
						</div>
					</div>

					<div class="ui dropdown item">
						What we've done
						<i class="dropdown icon"></i>
						<div class="menu ui transition hidden">
							<a class="item" href="javascript:;" title="">sublink</a>
							<a class="item" href="javascript:;" title="">sublink</a>
						</div>
					</div>

					<div class="ui dropdown item">
						Who we are
						<i class="dropdown icon"></i>
						<div class="menu ui transition hidden">
							<a class="item" href="javascript:;" title="">sublink</a>
							<a class="item" href="javascript:;" title="">sublink</a>
						</div>
					</div>

					<a class="item" href="/blog" title="">Blog</a>
					<a class="item" href="/contact" title="">Contact</a>

				</div>
			</nav>
#}-->

		</div><!--/.ui.page.grid -->
	</header><!-- /.#hed -->

