
	<nav id="xnav" class="ui medium top fixed hidden pointing menu borderless">
		<div class="ui container nav">
			<a class="header item logo" href="/" title="BlueSky Digital Labs home"><img src="{{ img }}BlueSky.png" alt="BlueSky Digital Labs" /></a>
			<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.id != 1 %}
{% if i.is_navigation %}
<a class="item{% if (_route._handler._app == "page" and (item.parent_id == i.id)) or (_route._handler._app == "directory" and i.id == 3) or (_route._handler._app == "staff" and i.id == 4) or (_route._handler._app == "blog" and i.id == 5) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endif %}
{% endfor %}
<a class="toc item"><i class="sidebar icon"></i></a>

			</div><!-- /.right.menu -->
		</div><!-- /.ui.container -->
	</nav><!-- /stickymenu -->

	<nav id="snav" class="ui small vertical right sidebar menu">

<a class="header item logo" href="/" title="BlueSky Digital Labs home"><img src="{{ img }}BlueSky.png" alt="BlueSky Digital Labs" /></div>
{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.id != 1 %}
{% if i.is_navigation %}
<a class="item{% if (_route._handler._app == "page" and (item.parent_id == i.id)) or (_route._handler._app == "directory" and i.id == 3) or (_route._handler._app == "staff" and i.id == 4) or (_route._handler._app == "blog" and i.id == 5) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endif %}
{% endfor %}

	</nav><!-- /sidebarmenu -->

