
	<header id="hed">
		<div class="wrp">

			<div id="logo">
				<a href="/" title="">
					<img src="{{ img }}bluesky-marketing.png" alt="bluesky digital labs" />
				</a>
			</div><!-- /#logo -->

			<nav id="mnav">
				<!--div class="menu-toggle"><button type="button" id="menu-btn"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button></div-->
				<ul class="sm sm-clean">

<li><a href="javascript:;" title="">Home</a></li>
<li><a href="javascript:;" title="">What we do</a>
<ul>
<li><a href="javascript:;" title="">Startup Development</a></li>
<li><a href="javascript:;" title="">System Development</a></li>
<li><a href="javascript:;" title="">App Developments</a></li>
<li><a href="javascript:;" title="">Data Science</a></li>
<li><a href="javascript:;" title="">Custom Web Development</a></li>
<li><a href="javascript:;" title="">Exploring Ideas</a></li>
<li><a href="javascript:;" title="">Digital Marketing</a></li>
</ul>
</li>
<li><a href="javascript:;" title="">What we've done</a></li>
<li><a href="javascript:;" title="">Who we are</a></li>
<li><a href="javascript:;" title="">Blog</a></li>
<li><a href="javascript:;" title="">Contact</a></li>




{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
{% if i._children %}
<li><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id %} class="active"{% endif %}>{{ i.title }}<i class="fas fa-angle-down"></i></a>
<ul>
{% for c in i._children %}
{% if c.is_navigation %}
<li><a href="{{ c._url }}" title="{{ c.title }}">{{ c.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
{% else %}
<li{% if loop.last %} class="last"{% endif %}><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id or (i.id == 6 and _route._handler._app == "blog") %} class="active"{% endif %}>{{ i.title }}</a></li>
{% endif %}
{% endif %}
{% endfor %}

				</ul>
			</nav><!-- /#mnav -->
			<div class="emspace h1 floatc"></div>
		</div><!-- /.wrp -->
	</header><!-- /.#hed -->

