
	<nav id="xnav" class="ui large top fixed hidden pointing menu borderless">
		<div class="ui container">
			<div class="header item logo">blueskylabs.word.logo</div>
			<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
<a class="item{% if _route._handler._app == "page" and (item.parent_id == i.id) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{% if i.id == 1 %}<i class="fas fa-home"></i>{% else %}{{ i.title }}{% endif %}</a>
{% endif %}
{% endfor %}
<a class="toc item"><i class="sidebar icon"></i></a>

			</div><!-- /.right.menu -->
		</div><!-- /.ui.container -->
	</nav><!-- /stickymenu -->

	<nav id="snav" class="ui vertical right inverted sidebar menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
<a class="item{% if _route._handler._app == "page" and (item.parent_id == i.id) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endfor %}

	</nav><!-- /sidebarmenu -->

