
	<div id="xnav" class="ui large top fixed hidden menu">
		<div class="ui container">
			<a class="item" href="/">Home</a>
			<a class="item" href="/what-we-do" title="">What we do</a>
			<a class="item" href="/what-weve-done" title="">What we've done</a>
			<a class="item" href="/who-we-are" title="">Who we are</a>
			<a class="item" href="/blog" title="">Blog</a>
			<div class="right menu">
				<div class="item"><a class="ui icon button" href="/_admin">Log in</a></div>
				<div class="item"><a class="ui icon button primary" href="/contact">Contact</a></div>
			</div>
		</div>
	</div><!-- /stickymenu -->

	<div id="snav" class="ui vertical inverted sidebar menu">
		<a class="item" href="/">Home</a>
		<a class="item" href="/what-we-do" title="">What we do</a>
		<a class="item" href="/what-weve-done" title="">What we've done</a>
		<a class="item" href="/who-we-are" title="">Who we are</a>
		<a class="item" href="/blog" title="">Blog</a>
		<a class="item" href="/_admin">Log in</a>
		<a class="item" href="/contact">Contact</a>
	</div><!-- /sidebarmenu -->



	<div id="bluesky" class="pusher">



		<section id="hed">
			<div class="ui vertical masthead center aligned segment">

				<div class="ui container">
					<div id="mnav" class="ui large secondary pointing menu">
						<a class="toc item"><i class="sidebar icon"></i></a>
						<a class="item" href="/">Home</a>
						<a class="item" href="/what-we-do" title="">What we do</a>
						<a class="item" href="/what-weve-done" title="">What we've done</a>
						<a class="item" href="/who-we-are" title="">Who we are</a>
						<a class="item" href="/blog" title="">Blog</a>
						<div class="right item">
							<a class="ui button" href="/_admin">Log in</a>
							<a class="ui button positive" href="/contact">Contact</a>
						</div>
					</div><!-- /.menu -->
				</div><!-- /.ui.container -->
				<div class="ui text container">
					<h1 class="ui header">BlueSky Digital Labs</h1>
					<h3>innovating customised online solutions</h3>
				</div><!-- /.ui.text.container -->

			</div><!-- /.masthead.segment -->
		</section><!-- /#hed -->





<!--{#
{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
{% if i._children %}
<li><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id %} class="active"{% endif %}>{{ i.title }}<i class="fas fa-angle-down"></i></a>
<ul>
{% for c in i._children %}
{% if c.is_navigation %}
<li><a href="{{ c._url }}" title="{{ c.title }}">{{ c.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
{% else %}
<li{% if loop.last %} class="last"{% endif %}><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id or (i.id == 6 and _route._handler._app == "blog") %} class="active"{% endif %}>{{ i.title }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
#}-->

