
	<header id="hed">
		<div class="wrp">

			<div id="logo">
				<a href="/" title="">
					<img src="{{ img }}bluesky-marketing.png" alt="bluesky digital labs" />
				</a>
			</div><!-- /#logo -->



<nav id="mnav" class="ui stackable container menu">
	<div class="item"><img src="assets/images/logo.png"></div>
	<a class="item" href="javascript:;" title="">Home</a>
	<div class="ui pointing dropdown items">
		<a class="item" href="javascript:;">What we do</a>
		<i class="dropdown icon"></i>
		<div class="menu">
			<a class="item" href="javascript:;" title="">Startup Development</a>
			<a class="item" href="javascript:;" title="">System Development</a>
			<a class="item" href="javascript:;" title="">App Developments</a>
			<a class="item" href="javascript:;" title="">Data Science</a>
			<a class="item" href="javascript:;" title="">Custom Web Development</a>
			<a class="item" href="javascript:;" title="">Exploring Ideas</a>
			<a class="item" href="javascript:;" title="">Digital Marketing</a>
		</div><!-- /.menu -->
	</div>
	<div class="ui pointing dropdown link item">
		<a class="item" href="javascript:;">What we've done</a>
		<i class="dropdown icon"></i>
		<div class="menu">
			<a class="item" href="javascript:;" title="">sublink</a>
			<a class="item" href="javascript:;" title="">sublink</a>
			<a class="item" href="javascript:;" title="">sublink</a>
		</div><!-- /.menu -->
	</div>
	<div class="ui pointing dropdown link item">
		<a class="item" href="javascript:;">Who we are</a>
		<i class="dropdown icon"></i>
		<div class="menu">
			<a class="item" href="javascript:;" title="">sublink</a>
			<a class="item" href="javascript:;" title="">sublink</a>
		</div><!-- /.menu -->
	</div>
	<a class="item" href="javascript:;" title="">Blog</a>
	<a class="item" href="javascript:;" title="">Contact</a>
</nav><!-- /#mnav -->


<!--{#
{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
{% if i._children %}
<li><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id %} class="active"{% endif %}>{{ i.title }}<i class="fas fa-angle-down"></i></a>
<ul>
{% for c in i._children %}
{% if c.is_navigation %}
<li><a href="{{ c._url }}" title="{{ c.title }}">{{ c.title }}</a></li>
{% endif %}
{% endfor %}
</ul>
</li>
{% else %}
<li{% if loop.last %} class="last"{% endif %}><a href="{{ i._url }}" title="{{ i.title }}"{% if item.lote_path_superparent == i.id or (i.id == 6 and _route._handler._app == "blog") %} class="active"{% endif %}>{{ i.title }}</a></li>
{% endif %}
{% endif %}
{% endfor %}
#}-->


		</div><!-- /.wrp -->
	</header><!-- /.#hed -->

