
		<section id="hed">
			<div class="ui vertical masthead segment">
				<div class="ui container nav">

<div class="cloud one my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>
<div class="cloud two my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>
<div class="cloud three my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>
<div class="cloud four my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>

					<nav id="mnav" class="ui medium secondary pointing menu">
						<a class="header item logo" href="/" title="BlueSky Digital Labs home"><img src="{{ img }}BlueSky.svg" alt="BlueSky" /></a>
						<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.id != 1 %}
{% if i.is_navigation %}
<a class="item{% if (_route._handler._app == "page" and (item.parent_id == i.id)) or (_route._handler._app == "directory" and i.id == 3) or (_route._handler._app == "staff" and i.id == 4) or (_route._handler._app == "blog" and i.id == 5) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endif %}
{% endfor %}
<a class="tel item" href="tel:+1300001815" title="Ring a BlueSky representative"><i class="phone volume icon"></i>1300 001 815</a>
<a class="toc item"><i class="sidebar icon"></i></a>

						</div><!-- /.right.menu -->
					</nav><!-- /#mnav -->
				</div><!-- /.ui.container.nav -->

				<div class="emspace h80 mtop"></div>

				<div id="hiw">
					<div class="ll">
						<h1 class="ui header">

{% if item.is_home_page %}

<img class="ui image medium" src="{{ img }}BlueSky.svg" alt="BlueSky" />
<div class="sub header">customised online solutions</div>

{% else %}

{% if _route._handler.module == "staff" %}Our Team
{% elseif _route._handler.module == "blog" %}Thoughts
{% else %}
{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}
{% endif %}

{% endif %}

							</h1>

{% if _route._handler._app == "page" or (_route._handler._app == "directory" and _route._method == "itemView") %}
<p>{{ item.summary|raw }}</p>
{% elseif _route._handler._app == "staff" and _route._method == "itemView" %}
<p>Meet the people who bring BlueSky to life</p>
{% endif %}

{% if _route._handler._app == "directory" and _route._method == "itemView" %}
<span class="ui tag label mini">{{ item._tags[0].display_value }}</span>

{% elseif _route._handler._app == "staff" and _route._method == "itemView" %}
<span class="ui tag label mini">{% if item.id == 1 or item.id == 2 %}Directors{% else %}Leadership team{% endif %}</span>

{% endif %}

					</div><!-- /.ll -->
					<div class="rr">

{% if item.is_home_page %}
<img class="ui image homhero" src="{{ img }}iso/hero.svg" alt="BlueSky ecosystem" width="100%;" />

{% else %}

{% if item.featured_image and (_route._handler._app != "directory" and _route._handler._app != "staff" ) %}
{{ imgUrl(item.featured_image.reference) }}
{% else %}
{% if (_route._handler._app == "page" and item.id == 7) or (_route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "start-up development") %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_startup.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 8) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "system integration" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_system.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 9) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "app development" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_app.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 10) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "data science" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_data.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 11) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "custom web applications" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_custom.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 12) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "exploring ideas" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_ideas.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 13) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "start-up development" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_digital.png" alt="" />
{% elseif (_route._handler._app == "page" and item.id == 21) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "beacons" ) %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero-sub_beacons.png" alt="" />
{% else %}
<img class="ui image" src="/app/website/bluesky/img/iso/hero.svg" alt="" width="100%;" />
{% endif %}
{% endif %}

{% endif %}

					</div><!-- /.rr -->
					<div class="emspace h1 floatc"></div>
				</div><!-- /.ui.page.grid -->

			</div><!-- /.masthead.segment -->
		</section><!-- /#hed -->

