
		<section id="hed">
			<div class="ui vertical masthead segment">
				<div class="ui container nav">

<div class="cloud one"></div>
<div class="cloud two my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>
<div class="cloud three my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>
<div class="cloud four my-paroller" data-paroller-factor="0.3" data-paroller-type="foreground" data-paroller-direction="vertical"></div>

					<nav id="mnav" class="ui medium secondary pointing menu">
						<a class="header item logo" href="/" title="BlueSky Digital Labs home"><img src="{{ img }}BlueSky.svg" alt="BlueSky Perth Customised Online Solutions" /></a>
						<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.id != 1 %}
{% if i.is_navigation %}
<a class="item{% if (_route._handler._app == "page" and (item.parent_id == i.id)) or (_route._handler._app == "directory" and i.id == 3) or (_route._handler._app == "staff" and i.id == 4) or (_route._handler._app == "blog" and i.id == 5) %} active{% endif %}" href="{{ i._url }}" title="{{ i.title }}">{{ i.title }}</a>
{% endif %}
{% endif %}
{% endfor %}
<a class="tel item" href="tel:+1300001815" title="Ring a BlueSky representative"><i class="phone volume icon"></i>1300 001 815</a>
<a class="toc item"><i class="sidebar icon"></i></a>

						</div><!-- /.right.menu -->
					</nav><!-- /#mnav -->
				</div><!-- /.ui.container.nav -->

				<div class="emspace h80 mtop"></div>

				<div id="hiw" class="{% if (_route._handler._app == "page" and item.parent_id == 2) or (_route._handler._app == "directory" and _route._method == "itemView") %}iso{% else %}center{% endif %}">
{% if (_route._handler._app == "page" and item.parent_id == 2) or (_route._handler._app == "directory" and _route._method == "itemView") %}
					<div class="ll">
{% endif %}
						<h1 class="ui header">

{% if item.is_home_page %}
Simplify, scale and grow your business
{% else %}
{% if _route._handler.module == "staff" %}Our Team
{% elseif _route._handler.module == "blog" %}Thoughts
{% else %}
{% if item.name %}{{ item.name|raw }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}
{% endif %}
{% endif %}

						</h1>

{% if item.is_home_page %}
<p>With customised online solutions</p>
{% else %}

{% if _route._handler.module == "blog" or (_route._handler._app == "page" and item.id == 5) %}
{% set cb = getContent(32) %}
{% if _route._handler._app == "page" or _route._method == "listing" %}
{{ cb.content|raw }}
{% else %}
{{ cb.description|raw }}
{% endif %}
{% elseif _route._handler._app == "page" or (_route._handler._app == "directory" and _route._method == "itemView") %}
<p>{{ item.summary|raw }}</p>
{% elseif _route._handler._app == "staff" and _route._method == "itemView" %}
<p>Meet the people who bring BlueSky to life</p>
{% endif %}

{% if _route._handler._app == "directory" and _route._method == "itemView" %}
<span class="ui tag label mini">{{ item._tags[0].display_value }}</span>
<div class="emspace floatc"></div>
{% elseif _route._handler._app == "staff" and _route._method == "itemView" %}
<span class="ui tag label mini">{% if item.id == 1 or item.id == 2 %}Directors{% else %}Leadership team{% endif %}</span>
<div class="emspace floatc"></div>
{% endif %}

<!--{#
<div class="ui mini breadcrumb">
{% include 'crumb.twig' %}
</div>
#}-->

{% endif %}

{% if (_route._handler._app == "page" and item.parent_id == 2) or (_route._handler._app == "directory" and _route._method == "itemView") %}

					</div><!-- /.ll -->
					<div class="rr">

{% if (_route._handler._app == "page" and item.id == 7) or (_route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "start-up development") %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/startup.png" alt="BlueSky Perth Start-up Development" />
{% elseif (_route._handler._app == "page" and item.id == 8) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "system integration" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/systems.png" alt="BlueSky Perth System Integration" />
{% elseif (_route._handler._app == "page" and item.id == 9) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "app development" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/apps.png" alt="BlueSky Perth App Development" />
{% elseif (_route._handler._app == "page" and item.id == 10) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "data science" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/data.png" alt="BlueSky Perth Data Science" />
{% elseif (_route._handler._app == "page" and item.id == 11) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "custom web development" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/custom.png" alt="BlueSky Perth Custom Web Development" />
{% elseif (_route._handler._app == "page" and item.id == 12) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "exploring ideas" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/ideas.png" alt="BlueSky Perth Exploring Ideas" />
{% elseif (_route._handler._app == "page" and item.id == 13) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "digital marketing" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/digital.png" alt="BlueSky Perth Digital Marketing" />
{% elseif (_route._handler._app == "page" and item.id == 21) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "beacons" ) %}
<img class="ui image svg" src="/app/website/bluesky/img/iso/beacons.png" alt="BlueSky Perth Beacons Beacon Technology" />
{% endif %}

					</div><!-- /.rr -->
					<div class="emspace h1 floatc"></div>

{% endif %}

				</div><!-- /#hiw -->

{% if not (_route._handler._app == "page" and item.parent_id == 2) and not (_route._handler._app == "page" and item.id == 23) and not (_route._handler._app == "directory" and _route._method == "itemView") and _route._handler._app != "blog" and _route._handler._app != "staff" %}
				<section id="fimg">
					<div class="emspace h40"></div>
					<img src="{{ img }}page/{% if _route._handler._app == "staff" %}16{% else %}{{ item.id }}{% endif %}.svg" width="100%" alt="{% if _route._handler._app == "staff" %}Our Team{% else %}{{ item.name }}{% endif %}" />
				</section><!-- /#fimg -->
{% endif %}

			</div><!-- /.masthead.segment -->
		</section><!-- /#hed -->

