
		<section id="hed">
			<div class="ui vertical masthead center aligned segment">
				<div class="ui container">
					<div id="mnav" class="ui large secondary pointing menu">
						<div class="header item">blueskylabs.image.logo</div>
						<div class="right menu">

{% set nav = buildNav(1) %}
{% for i in nav %}
{% if i.is_navigation %}
<a class="item" href="{{ i._url }}" title="{{ i.title }}"{% if i.lote_link_type=="cms_link_external" %} target="_blank"{% endif %}>{{ i.title }}</a>
{% endif %}
{% endfor %}
<a class="toc item"><i class="sidebar icon"></i></a>

						</div><!-- /.right.menu -->
					</div><!-- /.menu -->
				</div><!-- /.ui.container -->
				<div class="ui text container">

{% if item.is_home_page %}
<h1 class="ui header">BlueSky Digital Labs</h1>
<h3>innovating customised online solutions</h3>
{% else %}
<h1 class="ui header">{% if item.browser_display and item.browser_display != item.name %}{{ item.browser_display }}{% elseif item.title %}{{ item.title }}{% else %}404{% endif %}</h1>
{% endif %}

				</div><!-- /.ui.text.container -->
			</div><!-- /.masthead.segment -->
		</section><!-- /#hed -->

