<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% set site = 'BlueSky Digital Labs' %}
<title>{% if item.browser_display and item.browser_display != item.name %}{{ item.browser_display }}{% else %}{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}{% if _route._handler._app == "staff" and _route._method == "itemView" %}, {{ item.title }}{% endif %}{% if _route._handler._app == "directory" and _route._method == "itemView" %} {{ item._tags[0].display_value }} Case Study{% endif %} | {{ site }} | Custom Web Development And Online Solutions Perth, Melbourne, Brisbane{% endif %}</title>
<meta name="description" content="{% if item.seo_description %}{{ item.seo_description }}{% else %}{% if item.summary %}{{ item.summary }}{% elseif item.description %}{{ item.description|raw|striptags|length > 256 ? item.description|raw|striptags|slice(0,254) ~ '..' : item.discription|raw|striptags }}{% else %}{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %} | {{ site }}, Custom Web Development And Online Solutions Perth, Melbourne, Brisbane{% endif %}{% endif %}">

<meta property="og:title" content="{% if item.browser_display and item.browser_display != item.name %}{{ item.browser_display }}{% else %}{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}{% if _route._handler._app == "staff" and _route._method == "itemView" %}, {{ item.title }}{% endif %}{% if _route._handler._app == "directory" and _route._method == "itemView" %} {{ item._tags[0].display_value }} Case Study{% endif %}{% endif %}" />
<meta property="og:description" content="{% if item.seo_description %}{{ item.seo_description }}{% else %}{% if item.summary %}{{ item.summary }}{% elseif item.description %}{{ item.description|raw|striptags|length > 256 ? item.description|raw|striptags|slice(0,254) ~ '..' : item.discription|raw|striptags }}{% else %}{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %} {{ site }}, Custom Web Development And Online Solutions Perth, Melbourne, Brisbane{% endif %}{% endif %}" />
<meta property="og:url" content="{{ _route.url|trim('/')|replace({".com.au//":".com.au/"}) }}" />
<meta property="og:site_name" content="{{ site }}, Customised Online Solutions Perth, Melbourne, Brisbane" />
<meta property="og:image" content="{% if (_route._handler._app == "page" and item.id == 7) or (_route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "start-up development") %}/app/website/bluesky/img/iso/startup.png{% elseif (_route._handler._app == "page" and item.id == 8) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "system integration" ) %}/app/website/bluesky/img/iso/systems.png{% elseif (_route._handler._app == "page" and item.id == 9) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "app development" ) %}/app/website/bluesky/img/iso/apps.png{% elseif (_route._handler._app == "page" and item.id == 10) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "data science" ) %}/app/website/bluesky/img/iso/data.png{% elseif (_route._handler._app == "page" and item.id == 11) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "custom web development" ) %}/app/website/bluesky/img/iso/custom.png{% elseif (_route._handler._app == "page" and item.id == 12) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "exploring ideas" ) %}/app/website/bluesky/img/iso/ideas.png{% elseif (_route._handler._app == "page" and item.id == 13) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "digital marketing" ) %}/app/website/bluesky/img/iso/digital.png{% elseif (_route._handler._app == "page" and item.id == 21) or ( _route._handler._app == "directory" and _route._method == "itemView" and item._tags[0].value == "beacons" ) %}/app/website/bluesky/img/iso/beacons.png{% elseif _route._handler._app == "page" and (item.id == 2 or item.id == 3 or item.id == 4 or item.id == 5 or item.id == 6 or item.id == 14 or item.id == 15 or item.id == 16 or item.id == 19 or item.id == 20 or item.id == 22 or item.id == 23 or item.id == 24 or item.id == 25 or item.id == 26 ) %}/app/website/bluesky/img/page/{{ item.id }}.jpg{% elseif item.featured_image %}{{ imgUrl(item.featured_image.reference) }}{% else %}/app/website/bluesky/img/BlueSkyDigitalLabs-Perth.jpg{% endif %}" />
<meta name="twitter:card" content="summary_large_image" />

<meta name="google-site-verification" content="zcL86j0zu3O31_G62anQMCqHdqhRyQsxTIz_bXNzoyo" />
<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="canonical" href="{{ _route.url|trim('/')|replace({".com.au//":".com.au/"}) }}">

{% set img = '/app/website/bluesky/img/' %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ img }}_ico/apple-icon-57x57.png"><link rel="apple-touch-icon" sizes="60x60" href="{{ img }}_ico/apple-icon-60x60.png"><link rel="apple-touch-icon" sizes="72x72" href="{{ img }}_ico/apple-icon-72x72.png"><link rel="apple-touch-icon" sizes="76x76" href="{{ img }}_ico/apple-icon-76x76.png"><link rel="apple-touch-icon" sizes="114x114" href="{{ img }}_ico/apple-icon-114x114.png"><link rel="apple-touch-icon" sizes="120x120" href="{{ img }}_ico/apple-icon-120x120.png"><link rel="apple-touch-icon" sizes="144x144" href="{{ img }}_ico/apple-icon-144x144.png"><link rel="apple-touch-icon" sizes="152x152" href="{{ img }}_ico/apple-icon-152x152.png"><link rel="apple-touch-icon" sizes="180x180" href="{{ img }}_ico/apple-icon-180x180.png"><link rel="icon" type="image/png" sizes="192x192"  href="{{ img }}_ico/android-icon-192x192.png"><link rel="icon" type="image/png" sizes="32x32" href="{{ img }}_ico/favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="{{ img }}_ico/favicon-96x96.png"><link rel="icon" type="image/png" sizes="16x16" href="{{ img }}_ico/favicon-16x16.png">

<link rel="dns-prefetch" href="//www.googletagmanager.com">
<link rel="dns-prefetch" href="//fonts.googleapis.com">

<link rel="stylesheet" href="//fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Raleway&display=swap">
<link rel="stylesheet" href="/app/website/bluesky/_fui/2.8.7/semantic.min.css">
<link rel="stylesheet" href="/app/website/bluesky/css/style.css?vf287">

<script src="/app/website/bluesky/js/jquery-3.5.1.min.js"></script>
<script src="/app/website/bluesky/_fui/2.8.7/semantic.min.js"></script>
<script src="/app/website/bluesky/js/jq-min-bluesky.js?vf287"></script>

</head>
<body class="bod {% if item.is_home_page %}hom{% else %}sub{% endif %}">

{% include 'header_sxnav.twig' %}

	<div id="bluesky" class="pusher">

{% include 'header.twig' %}
{% include 'body.twig' %}
{% include 'footer.twig' %}

		<div id="backtotop" onclick="gtag('event','Back To Top',{'event_category':'Navigation','event_label':'Back To Top'});" class="circular ui icon button" title="back to top"><i class="angle double up icon"></i></div>
	</div><!-- /#bluesky.pusher -->



<script async src="//www.googletagmanager.com/gtag/js?id=UA-127973425-1"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-127973425-1');gtag('config','AW-782088284');</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NF3ZBPS');gtag('event','conversion',{'send_to':'AW-782088284/kPY_CLyDzZIBENzw9vQC'});gtag('config','AW-782088284/mr-1COGOupIBENzw9vQC',{'phone_conversion_number':'1300001815'});</script>
<!--{#<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NF3ZBPS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>#}-->



</body>
</html>

