<!DOCTYPE html>
<html amp lang="en">
<head>
<meta charset="utf-8">
<title>BlueSky Digital Labs. Innovating Customised Online Solutions.</title>
<meta name="description" content="BlueSky Digital Labs is a Perth based custom web development team.">

<meta property="og:type" content="website" />
<meta property="og:title" content="BlueSky Digital Labs. Innovating Customised Online Solutions." />
<meta property="og:description" content="BlueSky Digital Labs is a Perth based custom web development team." />
<meta property="og:url" content="https://www.blueskylabs.com.au/" />
<meta property="og:site_name" content="BlueSky Digital Labs" />
{% if item.featured_image %}
<meta property="og:image" content="{{ _url.base|trim('/') }}{{ item.featured_image.reference }}" />
{% endif %}

<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="canonical" href="https://www.blueskylabs.com.au/">

{% set img = '/app/website/bluesky/img/' %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ img }}_ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ img }}_ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ img }}_ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ img }}_ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ img }}_ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ img }}_ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ img }}_ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ img }}_ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ img }}_ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ img }}_ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ img }}_ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ img }}_ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ img }}_ico/favicon-16x16.png">

<link rel="stylesheet" href="/app/website/bluesky/_semantic/semantic.min.css">
<link rel="stylesheet" href="/app/website/bluesky/css/style.css">

<!--[if lt ie 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
<script>FontAwesomeConfig={searchPseudoElements:true};</script>
<script defer src="//use.fontawesome.com/releases/v5.1.0/js/all.js" integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9" crossorigin="anonymous"></script>
<script src="/app/website/bluesky/js/jquery-3.2.1.min.js"></script>
<script src="/app/website/bluesky/js/jquery.form.min.js"></script>
<script src="/app/website/bluesky/_semantic/semantic.min.js"></script>
<script src="/app/website/bluesky/js/jq-min-bluesky.js"></script>

<!-- amp -->
<style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
<script async src="//cdn.ampproject.org/v0.js"></script>

<!-- Global site tag (gtag.js) || Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127973425-1"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-127973425-1');</script>

</head>
<body class="bod {% if item.is_home_page %}hom{% else %}sub{% endif %}">

{% include 'body_landing.twig' %}
<!--{#
{% include 'header.twig' %}
{% include 'body.twig' %}
{% include 'footer.twig' %}
#}-->

	<div id="backtotop"><i class="fas fa-angle-up"></i></div>

</body>
</html>

