<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
{% set site = 'BlueSky Digital Labs' %}
<title>{% if item.browser_display and item.browser_display != item.name %}{{ item.browser_display }}{% else %}{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %} [ {{ site }} ] Innovating Customised Online Solutions{% endif %}</title>

<meta property="og:title" content="{% if item.browser_display and item.browser_display != item.name %}{{ item.browser_display }}{% else %}{% if item.name %}{{ item.name }}{% elseif _route.tag %}{{ _route.tag }}{% elseif _route._route %}{{ _route._route }}{% else %}404{% endif %}{% endif %}" />
<meta property="og:description" content="{% if item.seo_description %}{{ item.seo_description }}{% else %}{% if item.summary %}{{ item.summary }}{% elseif item.description %}{{ item.description|raw|striptags|length > 256 ? item.description|raw|striptags|slice(0,254) ~ '..' : item.discription|raw|striptags }}{% else %}BlueSky Digital Labs is a Perth based custom web development team{% endif %}{% endif %}" />
<meta property="og:url" content="{{ _route.url|trim('/') }}" />
<meta property="og:site_name" content="{{ site }}" />
{% if item.featured_image %}
<meta property="og:image" content="{{ _url.base|trim('/') }}{{ item.featured_image.reference }}" />
{% endif %}

<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
<link rel="canonical" href="https://www.blueskylabs.com.au/">

{% set img = '/app/website/bluesky/img/' %}
<link rel="apple-touch-icon" sizes="57x57" href="{{ img }}_ico/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="{{ img }}_ico/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="{{ img }}_ico/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="{{ img }}_ico/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="{{ img }}_ico/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="{{ img }}_ico/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="{{ img }}_ico/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="{{ img }}_ico/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="{{ img }}_ico/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="{{ img }}_ico/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="{{ img }}_ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="{{ img }}_ico/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="{{ img }}_ico/favicon-16x16.png">

<link rel="stylesheet" href="/app/website/bluesky/_semantic/semantic.min.css">
<link rel="stylesheet" href="/app/website/bluesky/css/style.css">

<!--[if lt ie 9]><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
<script src="/app/website/bluesky/js/jquery-3.2.1.min.js"></script>
<script src="/app/website/bluesky/_semantic/semantic.min.js"></script>
<script src="/app/website/bluesky/js/jq-min-bluesky.js"></script>

<script async src="//www.googletagmanager.com/gtag/js?id=UA-127973425-1"></script>
<script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments);}gtag('js',new Date());gtag('config','UA-127973425-1');</script>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NF3ZBPS');</script>

</head>
<body class="bod {% if item.is_home_page %}hom{% else %}sub{% endif %}">
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NF3ZBPS" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>

{% include 'header_sxnav.twig' %}
	<div id="bluesky" class="pusher">
{% include 'header.twig' %}
{% include 'body.twig' %}
{% include 'footer.twig' %}
		<div id="backtotop"><i class="arrow alternate circle up icon"></i></div>
	</div><!-- /#bluesky.pusher -->

</body>
</html>

