
{% if paging.total_pages > 1 %}
<nav class="paging">
	<div class="ui center aligned">
		<p class="fontsize14">Viewing {{ paging.start }} - {{ paging.end }} of {{ paging.total }}</p>
		<div class="ui pagination menu">
			{% if paging.page > 1 %}
			<a class="item" rel="ajax" href="{{ pagingUrl }}{% if search_phrase %}?phrase={{ search_phrase }}{% endif %}"><i class="fas fa-fast-backward"></i></a>
			<a class="item" rel="ajax" href="{{ pagingUrl }}/page/{{ paging.page - 1 }}{% if search_phrase %}?phrase={{ search_phrase }}{% endif %}"><i class="fas fa-step-backward"></i></a>
			{% else %}
			<span class="item disabled"><i class="fas fa-fast-backward"></i></span>
			<span class="item disabled"><i class="fas fa-step-backward"></i></span>
			{% endif %}

			{% set startPaging = max(1, paging.page -5) %}
			{% set endPaging = min(max(10, paging.page +5), paging.total_pages) %}
			{% for i in startPaging..endPaging %}
				{% if i==paging.page %}
			<span class="item disabled">{{ i }}</span>
				{% else %}
			<a class="item" rel="ajax" href="{{ pagingUrl }}/page/{{ i }}{% if search_phrase %}?phrase={{ search_phrase }}{% endif %}">{{ i }}</a>
				{% endif %}
			{% endfor %}

			{% if paging.total_pages > 1 and paging.total_pages > paging.page %}
			<a class="item" rel="ajax" href="{{ pagingUrl }}/page/{{ paging.page + 1 }}{% if search_phrase %}?phrase={{ search_phrase }}{% endif %}"><i class="fas fa-step-forward"></i></a>
			<a class="item" rel="ajax" href="{{ pagingUrl }}/page/{{ paging.total_pages }}{% if search_phrase %}?phrase={{ search_phrase }}{% endif %}"><i class="fas fa-fast-forward"></i></a>
			{% else %}
			<span class="item disabled"><i class="fas fa-step-forward"></i></span>
			<span class="item disabled"><i class="fas fa-fast-forward"></i></span>
			{% endif %}
		</div><!-- /.ui.pagination.menu -->
	</div><!-- /.ui.center.aligned -->
</nav><!-- /.paging -->
{% endif %}

