<script>
	jQuery(function(){

		jQuery("form#login_form").submit(function(e){
			jQuery('body').addClass("loading");
			e.preventDefault();
			jQuery.ajax({
				url: '{{ _url.base }}mullins/password-request.json',
				method: 'POST',
				data: {
					"email": jQuery("#email").val()
				},
				success: function (json){
					if (json.success) {
						jQuery('body').removeClass("loading");
						alert("An email has been sent. Please check your inbox to reset your password.");
						window.location = '{{ _url.base }}_admin/login';
					}
					else {
						jQuery('body').removeClass("loading");
						jQuery('#email-error').html("The email you have entered does not exist in our system").parent().addClass('fer');
					}
				},
				error: function (request, status, error){
					if (request.status) {
						alert('Error: ' + request.status + '\n' + request.statusText);
					}
				}
			});
			return false;
		});
	})
</script>

<div class="emspace variable"></div>
<section class="loginwrp bcc-all">

    <img src="{{ _skinDir }}img/epicuest.png" class="resp" alt="" />
	<p>Enter your email address below</p>

	<input type="hidden" id="redirect" value="{{ base64_decode(_route.redirect) }}"/>
	<input type="hidden" id="hash" value="{{ hash }}"/>
	<input type="hidden" id="system" value="{{ system }}"/>

	<form id="login_form" class="fom">

		<div id="pov">Sending ..</div>
		<div class="pov">

			<div class="fwrp">
				<input id="email" name="email" type="email" value="" placeholder="email address" />
				<div id="email-error" class="fermsg"></div>
			</div>

			{% if not cookieEnabled %}
			<div class="fwrp fer">
				<div class="fermsg center">Cookies are not enabled in your browser. Please enable them to login successfully.</div>
			</div>
			{% endif %}

			<div class="emspace h20"></div>
			<button type="submit" name="sub" id="sub" class="btn"><i class="fas fa-redo"></i> Reset Password</button>

		</div><!-- /.pov -->
	</form>

	<div class="emspace h20 floatc"></div>

</section>

