
<div id="hinsight" class="colwrp inline">
{# for i in posts.rows|sort|reverse #}
{% set blogList = reorderBlogListByMonth(posts.rows) %}
{% for key,value in blogList %}
	<section class="nlll">{% if key == 'no_date' %}No Date{% else %}{{ date(key ~ '-01')|date("M Y") }}{% endif %}</section>
	<section class="nlrr">
{% for i in value %}
		<div class="coltre center">
			<div class="wrp">
				<a href="{{ _url.base|trim('/') }}{% if i._url %}{{ i._url }}{% else %}blog/post/{{ i.id }}{% endif %}" title="{{ i.title }}">
					<section class="hinimg"{% if i.featured_image %} style="background-image:url('{{ imgTsUrl(i.featured_image.reference, 360) }}');"{% endif %}></section>
					<section class="hincon">
						<p>
							<span class="fontsize18"><b>{{ i.title }}</b></span>
							<span class="fontsize12"><time pubdate datetime="{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}">{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}</time></span>
						</p>
					</section>
				</a>
			</div><!-- /.wrp -->
		</div>
{% endfor %}
	</section>
	<div class="emspace h0 floatc"></div>
{% endfor %}

	<div class="emspace floatc"></div>
</div><!-- /#hinsight -->

{% include 'paging.twig' with {'paging' : posts.paging, 'pagingUrl' : _url.base~'blog/'~blog_id } %}

