
<div class="ui divided items">

{% for i in posts.rows %}

	<div class="item">
		<div class="ui small image">
			<img src="{% if i.featured_image %}{{ imgUrl(i.featured_image.reference) }}{% else %}/_image/media/1/_image.png{% endif %}" alt="" />
		</div>
		<div class="content">
			<div class="header">{{ i.title }}</div>
			<div class="meta"><span><i class="calendar alternate outline icon"></i><time pubdate datetime="{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}">{% if i.date and i.date != 0000-00-00 %}{{ i.date|date("jS F Y") }}{% endif %}</time></span></div>
			<div class="description">
				<p>
				{% if i.summary %}
				{{ i.summary|nl2br|truncate(540,true,' ..')|raw }}
				{% else %}
				{{ i.description|raw|striptags|truncate(540,true,' ..') }}
				{% endif %}
				</p>
			</div><!-- /.description -->
			<div class="extra">
				{% for tag in i.tags %}
				<div class="ui label mini"><a href="{{ _url.base }}blog/category/{{ tag.value|replace({' ':'-','/':'-'}) }}"><i class="tag icon"></i>{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</a></div>
				{% if loop.last %}<div class="emspace h5 floatc"></div>{% endif %}
				{% endfor %}
				<a class="ui right floated primary button" href="{{ _url.base|trim('/') }}{% if i._url %}{{ i._url }}{% else %}blog/post/{{ i.id }}{% endif %}" title="click to read full article">Read article<i class="right chevron icon"></i></a>
			</div><!-- /.extra -->
		</div><!-- /.content -->
	</div><!-- /.item -->

{% endfor %}

</div><!-- /.ui.divided.items -->
<div class="emspace h40 floatc"></div>

{% include 'paging.twig' with {'paging' : posts.paging, 'pagingUrl' : _url.base~'blog/'~blog_id } %}

