
<div class="ui stackable equal height stackable grid">
	<div class="twelve wide column">

		<header>
			<h1 class="fontweight900">{{ item.title }}</h1>
			<span class="newstim"><time pubdate datetime="{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}">{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}</time></span>
		</header>
		<div class="emspace h20"></div>

{{ renderContent(item.content)|raw }}

<div class="emspace h40 floatc"></div>

{% if item.tags|length > 0 %}
<p>Tags:
{% for tag in item.tags %}
<a class="fontweight500" href="{{ _url.base }}blog/category/{{ tag.value }}" title="{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}">{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
</p>
{% endif %}

		<div class="emspace floatc"></div>

	</div><!-- /.twelve.wide.column -->
	<aside class="four wide column">

		<h4 class="ui horizontal divider header">Recent posts</h4>
		<div class="ui link items">

{% set postList = getLatestBlogItem(4) %}
{% for post in postList %}

			<a class="item" href="{{ _url.base|trim('/') }}{% if post._url %}{{ post._url }}{% else %}blog/post/{{ post.id }}{% endif %}" title="{{ post.title }}">
				<div class="content">
					<div class="ui tiny header">{{ post.title }}</div>
					<div class="meta"><small><time pubdate datetime="{{ post.date|date("jS F Y") }}">{{ post.date|date("jS F Y") }}</time></small></div>
				</div><!-- /.content -->
			</a><!-- /.item -->

{% endfor %}

		</div><!-- /.ui.divided.items -->

{% set tags = getAllPostTags() %}
{% if tags|length > 0 %}

		<div class="emspace floatc"></div>
		<h4 class="ui horizontal divider header">Posts by tags</h4>
		<div class="ui link items">
{% for tag in tags %}
			<a class="item nomargin" href="{{ _url.base }}blog/category/{{ tag.value }}" title="{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}">
				<div class="content">
					<div class="ui tiny header hwsicon"><i class="tag icon"></i> {% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</div>
				</div><!-- /.content -->
			</a>
{% endfor %}
		</div><!-- /.ui.divided.items -->

{% endif %}

	</aside><!-- /.four.wide.column -->

</div><!-- /.ui.stackable.equal.height.stackable.grid -->

