
<section id="psview">

<h2 class="ui header">
	{{ item.title }}
	<time class="sub header" pubdate datetime="{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}"><i class="calendar alternate outline icon"></i>{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}</time>
</h2>
<div class="ui divider"></div>

<!--{#<div id="postreadcount" class="ui mini labeled active button">
	<div class="ui icon button"><i class="tasks icon"></i></div>
	<div class="ui basic left pointing label">34</div>
</div>#}--><!-- /#postreadcount -->
<a class="ui mini linkedin button" href="https://www.linkedin.com/shareArticle?url={{ _route.url }}" onclick="gtag('event','LinkedIn',{'event_category':'Article Share','event_label':'{{ item.title }}'});" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn"><i class="linkedin icon"></i>LinkedIn</a>
<a class="ui mini twitter button" href="https://twitter.com/share?url={{ _route.url }}" onclick="gtag('event','Twitter',{'event_category':'Article Share','event_label':'{{ item.title }}'});" target="_blank" rel="noopener noreferrer" title="Share on Twitter"><i class="twitter icon"></i>Twitter</a>
<a class="ui mini facebook button" href="https://www.facebook.com/sharer.php?u={{ _route.url }}" onclick="gtag('event','Facebook',{'event_category':'Article Share','event_label':'{{ item.title }}'});" target="_blank" rel="noopener noreferrer" title="Share on FaceBook"><i class="facebook icon"></i>Facebook</a>
<a class="ui mini pinterest button" href="https://pinterest.com/pin/create/button/?url={{ _route.url }}" onclick="gtag('event','Pinterest',{'event_category':'Article Share','event_label':'{{ item.title }}'});" target="_blank" rel="noopener noreferrer" title="Share on Pinterest"><i class="pinterest icon"></i>Pinterest</a>
<a class="ui mini google plus button" href="https://plus.google.com/share?url={{ _route.url }}" onclick="gtag('event','Google+',{'event_category':'Article Share','event_label':'{{ item.title }}'});" target="_blank" rel="noopener noreferrer" title="Share on Google+"><i class="google plus icon"></i>Google+</a>

<div class="ui hidden divider"></div>

{{ renderContent(item.content)|raw }}

{% if item.featured_image %}
<div class="ui special medium right floated image">
	<div class="blurring dimmable image">
		<div class="ui dimmer"><div class="content"><div class="center"><span class="ui inverted button dopop">View image</span></div></div></div>
		<img src="{{ imgUrl(item.featured_image.reference,300) }}" class="resp" alt="{{ item.title }} | BlueSky Perth" />
	</div><!-- /.blurring.dimmable.image -->
</div>
<div class="ui basic modal dapop">
	<i class="close icon"></i>
	<div class="content">
		<div class="center">
			<div class="ui image">
				<img src="{{ imgUrl(item.featured_image.reference) }}" class="resp" alt="{{ item.title }} | BlueSky Perth" />
			</div><!-- /.ui.image -->
		</div><!-- /.center -->
	</div><!-- /.content -->
</div><!-- /.ui.basic.modal -->
{% endif %}

{{ renderContent(item.description)|raw }}

<div class="emspace h20"></div>

<div class="ui feed">
	<div class="event">
		<div class="label">

{% if item.id == 2 %}
<img src="/_image/media/43/rizal-farok_smsq.jpg" alt="Rizal Farok | BlueSky Perth">

{% else %}
<img src="/app/website/bluesky/img/BlueSky_s4.png" alt="Team BlueSky | BlueSky Perth">
{% endif %}

		</div><!-- /.label -->
		<div class="content">
			<div class="summary">

{% if item.id == 2 %}
<a href="/about/team/rizal-farok" onclick="gtag('event','Rizal Farok',{'event_category':'Article Author','event_label':'{{ item.name }}'});" class="user">Rizal Farok</a>
{% else %}
<a href="/about/team" onclick="gtag('event','Team BlueSky',{'event_category':'Article Author','event_label':'{{ item.name }}'});" class="user">Team BlueSky</a>
{% endif %}

				<div class="date">{{ getHumanTiming(item.date|date('Y-m-d')) }}</div>
				<div class="emspace h20 floatc"></div>

{% if item.tags|length > 0 %}
{% for tag in item.tags %}
<span class="ui tag label tiny" href="{{ _url.base }}blog/category/{{ tag.value|replace({' ':'-','/':'-'}) }}">{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</span>
{% endfor %}
{% endif %}

			</div><!-- /.summary -->
		</div><!-- /.content -->
	</div><!-- /.event -->
</div><!-- /..ui.feed -->

<div class="emspace h80 floatc"></div>
<h4 class="ui horizontal divider header"><i class="newspaper outline icon"></i> Recent thoughts</h4>
<div class="ui four doubling centered cards">

	<a class="card tiny btl" href="/thoughts" title="Back to listing">
		<div class="content">
			<div class="header spnav"><i class="newspaper outline icon"></i> Back to listing</div>
			<div class="description">{% set cb = getContent(32) %}{{ cb.content|striptags|truncate(80,true,'') }}</div>
		</div>
	</a>

{% set postList = getLatestBlogItem(7) %}
{% for post in postList %}
{% if post.id != item.id %}

	<a class="card tiny" href="{% if post._url %}{{ post._url }}{% else %}/blog/post/{{ post.id }}{% endif %}" title="{{ post.title }}">
		<div class="content">
			<div class="header spnav">{{ post.title }}</div>
			<div class="description">{% if post.summary %}{{ post.summary|striptags|truncate(54,true,' ..') }}{% else %}{{ post.description|raw|striptags|truncate(54,true,' ..') }}{% endif %}</div>
		</div>
	</a>

{% endif %}
{% endfor %}

</div>

</section><!-- /#psview -->

