
<div class="ui stackable equal height stackable grid">
	<div class="twelve wide column">

		<header>
			<h1 class="fontweight900">{{ item.title }}</h1>
			<span class="newstim"><time pubdate datetime="{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}">{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}</time></span>
		</header>
		<div class="emspace h20"></div>

{{ renderContent(item.content)|raw }}

<div class="emspace h40 floatc"></div>

{% if item.tags|length > 0 %}
<p>Tags:
{% for tag in item.tags %}
<a class="fontweight500" href="{{ _url.base }}blog/category/{{ tag.value }}" title="{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}">{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
</p>
{% endif %}

		<div class="emspace floatc"></div>

	</div><!-- /.twelve.wide.column -->
	<aside class="four wide column">

		<h3>Recent Posts</h3>
{% set postList = getLatestBlogItem(4) %}
{% for post in postList %}
		<p class="blocklinks nopadbot">
			<a href="{{ _url.base|trim('/') }}{% if post._url %}{{ post._url }}{% else %}blog/post/{{ post.id }}{% endif %}" title="{{ post.title }}">
				<span><b>{{ post.title }}</b></span>
				<span class="fontsize12"><time pubdate datetime="{{ post.date|date("jS F Y") }}">{{ post.date|date("jS F Y") }}</time></span>
			</a>
		</p>
{% endfor %}

<div class="emspace h20 floatc"></div>

<h3>Tags</h3>
{% set tags = getAllPostTags() %}
{% if tags|length > 0 %}
<p>
{% for tag in tags %}
<a class="fontweight400" href="{{ _url.base }}blog/category/{{ tag.value }}" title="{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}">{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</a>{% if not loop.last %}, {% endif %}
{% endfor %}
</p>
{% endif %}

	</aside><!-- /.four.wide.column -->

</div><!-- /.ui.stackable.equal.height.stackable.grid -->

