
<div class="ui stackable equal height stackable grid">
	<div class="twelve wide column">

<header>
<h2 class="ui header">{{ item.title }}</h2>
<span><time pubdate datetime="{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}"><i class="calendar alternate outline icon"></i>{% if item.date and item.date != 0000-00-00 %}{{ item.date|date("jS F Y") }}{% endif %}</time></span>
</header>

{% if item.tags|length > 0 %}
<div class="ui divider"></div>
{% for tag in item.tags %}
<div class="ui label mini"><a href="{{ _url.base }}blog/category/{{ tag.value|replace({' ':'-','/':'-'}) }}"><i class="tag icon"></i>{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</a></div>
{% endfor %}
<div class="emspace h20 floatc"></div>
{% endif %}

{{ renderContent(item.content)|raw }}

<div class="ui divider"></div>
<div class="center stackable">
	<a class="ui linkedin button" href="https://www.linkedin.com/shareArticle?url={{ _route.url }}" target="_blank" rel="noopener noreferrer" title="Share on LinkedIn"><i class="linkedin icon"></i> LinkedIn</a>
	<a class="ui twitter button" href="https://twitter.com/share?url={{ _route.url }}" target="_blank" rel="noopener noreferrer" title="Share on Twitter"><i class="twitter icon"></i>Twitter</a>
	<a class="ui facebook button" href="https://www.facebook.com/sharer.php?u={{ _route.url }}" target="_blank" rel="noopener noreferrer" title="Share on FaceBook"><i class="facebook icon"></i>Facebook</a>
	<a class="ui pinterest button" href="https://pinterest.com/pin/create/button/?url={{ _route.url }}" target="_blank" rel="noopener noreferrer" title="Share on Pinterest"><i class="pinterest icon"></i>Pinterest</a>
	<a class="ui google plus button" href="https://plus.google.com/share?url={{ _route.url }}" target="_blank" rel="noopener noreferrer" title="Share on Google+"><i class="google plus icon"></i>Google+</a>
</div>

		<div class="emspace floatc"></div>

	</div><!-- /.twelve.wide.column -->
	<aside class="four wide column">

		<h4 class="ui horizontal divider header">Recent posts</h4>
		<div class="ui link items">

{% set postList = getLatestBlogItem(4) %}
{% for post in postList %}

			<a class="item" href="{{ _url.base|trim('/') }}{% if post._url %}{{ post._url }}{% else %}blog/post/{{ post.id }}{% endif %}" title="{{ post.title }}">
				<div class="content">
					<div class="ui tiny header">{{ post.title }}</div>
					<div class="meta"><small><i class="calendar alternate outline icon"></i><time pubdate datetime="{{ post.date|date("jS F Y") }}">{{ post.date|date("jS F Y") }}</time></small></div>
				</div><!-- /.content -->
			</a><!-- /.item -->

{% endfor %}

		</div><!-- /.ui.divided.items -->

{% set tags = getAllPostTags() %}
{% if tags|length > 0 %}

		<div class="emspace floatc"></div>
		<h4 class="ui horizontal divider header">Posts by tags</h4>
		<div class="ui link items">
{% for tag in tags %}
			<a class="item nomargin" href="{{ _url.base }}blog/category/{{ tag.value|replace({' ':'-','/':'-'}) }}" title="{% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}">
				<div class="content">
					<div class="ui tiny header hwsicon"><i class="tag icon"></i> {% if tag.display_value %}{{ tag.display_value }}{% else %}{{ tag.value }}{% endif %}</div>
				</div><!-- /.content -->
			</a>
{% endfor %}
		</div><!-- /.ui.divided.items -->

{% endif %}

	</aside><!-- /.four.wide.column -->

</div><!-- /.ui.stackable.equal.height.stackable.grid -->

