
<p>Hi {{ email_to_name }},</p>

<p>A new contact request is received. Details are below:</p>
<p>Name : {{ name }}</p>
<p>Phone : {{ phone }}</p>
<p>Email : {{ email }}</p>
<p>About : {{ about }}</p>
<p>Comments : {{ comments |raw}}</p>
<p>Mailinglist : {{ mailinglist }}</p>