
<p>Yo Team BlueSky</p>
<p>A contact form has been submitted.</p>
<p>
Name: {{ name }}
<br />Phone: {{ phone }}
<br />Email: {{ email }}
{% if phone and email %}<br />Contact Preference: {{ preference }}{% endif %}
<br />About: {{ about }}
<br />Comments:
<br />{{ comments|raw }}
</p>
<p>Mailing List: {{ mailinglist }}</p>

