
<p>Hi {{ email_to_name }},</p>

<p>A new quote is requested. Details are below:</p>
<p>Name : {{ name }}</p>
<p>Phone : {{ phone }}</p>
<p>Email : {{ email }}</p>
<p>Project Summary : {{ project_summary }}</p>

<p>File: See attachment </p>